<h1>Listing Prizes</h1>
<%= link_to 'New prize', new_prize_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th></th>
  </tr>

  <% @prizes.each do |prize| %>
    <tr>
      <td><%= prize.title %></td>
      <td><%= prize.price %></td>
      <td><%= link_to 'Show', prize_path(prize) %></td>
      <td><%= link_to 'Edit', edit_prize_path(prize) %></td>
      <td><%= link_to 'Destroy', prize_path(prize),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
