
<p>
  <strong>Title:</strong>
  <%= @prize.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @prize.text %>
</p>

<h2>Comments</h2>
<%= render @prize.comments %>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_prize_path(@prize) %>
<%= link_to 'Back to Prizes', prizes_path %>
